<a href="https://colab.research.google.com/github/tanishqacodes/DATA-SCIENCE-MASTERS/blob/main/17_FEB_ASS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use MongoDB over SQL databases?
* MongoDB is an open source NoSQL database management program. NoSQL is used as an alternative to traditional relational databases. NoSQL databases are quite useful for working with large sets of distributed data. MongoDB is a tool that can manage document-oriented information, store or retrieve information.

* NoSQL databases (aka "not only SQL") are non-tabular databases and store data differently than relational tables. NoSQL databases come in a variety of types based on their data model. The main types are document, key-value, wide-column, and graph. They provide flexible schemas and scale easily with large amounts of data and high user loads.

* NoSQL databases have flexible data models, scale horizontally, have incredibly fast queries, and are easy for developers to work with.

* NoSQL is preferred mainly where we have to store image, video, audio etc types of data.

### Q2. State and Explain the features of MongoDB.
1. Support ad hoc queries :- In MongoDB, you can search by field, range query and it also supports regular expression searches.

2. Indexing :- You can index any field in a document.

3. Replication :- MongoDB supports Master Slave replication.
A master can perform Reads and Writes and a Slave copies data from the master and can only be used for reads or back up (not writes)

4. Duplication of data :- MongoDB can run over multiple servers. The data is duplicated to keep the system up and also keep its running condition in case of hardware failure.

5. Load balancing :- It has an automatic load balancing configuration because of data placed in shards.

### Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

In [1]:
pip install pymongo

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pymongo in /usr/local/lib/python3.8/dist-packages (4.3.3)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /usr/local/lib/python3.8/dist-packages (from pymongo) (2.3.0)

In [2]:
import pymongo
client = pymongo.MongoClient("mongodb+srv://pwskills:pwskills@cluster0.tanei6l.mongodb.net/?retryWrites=true&w=majority")
db = client.test

In [3]:
db = client['pwskills']

In [4]:
coll_create = db['my_assign']

### Q4. Using the database and the collection created in question number 3, write a code to insert one record, and insert many records. Use the find() and find_one() methods to print the inserted record.

In [5]:
record = [
    {'companyName': 'iNeuron',
     'product': 'Affordable AI',
     'courseOffered': 'Machine Learning with Deployment'},
    
    {'companyName': 'iNeuron',
     'product': 'Affordable AI',
     'courseOffered': 'Deep Learning for NLP and Computer vision'},
    
    {'companyName': 'iNeuron',
     'product': 'Master Program',
     'courseOffered': 'Data Science Masters Program'}
]

In [6]:
coll_create.insert_many(record)

In [7]:
data = {
    'name':'tanishqa',
    'class':'data science masters',
    'timing':'8-10'
}

In [8]:
coll_create.insert_one(data)

In [9]:
for i in coll_create.find():
    print(i)

{'_id': ObjectId('63efb85e3e3cf785f422feac'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('63efb85e3e3cf785f422fead'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('63efb85e3e3cf785f422feae'), 'companyName': 'iNeuron', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}
{'_id': ObjectId('63efb8923e3cf785f422feaf'), 'name': 'tanishqa', 'class': 'data science masters', 'timing': '8-10'}

In [10]:
coll_create.find_one()

{'_id': ObjectId('63efb85e3e3cf785f422feac'),
 'companyName': 'iNeuron',
 'product': 'Affordable AI',
 'courseOffered': 'Machine Learning with Deployment'}

### Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to demonstrate this.
To query data from MongoDB collection, you need to use MongoDB's find() method.

In [11]:
for i in coll_create.find({'companyName': 'iNeuron'}):
    print(i)

{'_id': ObjectId('63efb85e3e3cf785f422feac'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('63efb85e3e3cf785f422fead'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('63efb85e3e3cf785f422feae'), 'companyName': 'iNeuron', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}

### Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

* The sort() method specifies the order in which the query returns the matching documents from the given collection.
* It takes a document as a parameter that contains a field: value pair that defines the sort order of the result set. The value is 1 or -1 specify an ascending or descending sort respectively.

In [17]:
coll_6 = db['assign']
d = [{ "name": "Alice", "age": 21, "gpa": 3.5 },
{ "name": "Bob", "age": 20, "gpa": 3.2 },
{ "name": "Charlie", "age": 22, "gpa": 3.7 }
]

### Q7. Explain why delete_one(), delete_many(), and drop() is used.
* DELETE_ONE :  Delete_one() is used when one needs to delete one document. A query object containing which document to be deleted is created and is passed.

* DELETE_MANY : Delete_many() is used when one needs to delete more than one document. A query object containing which document to be deleted is created and is passed as the first parameter to the delete_many().

* DROP : Delete all the data completely of collection.