<a href="https://colab.research.google.com/github/tanishqacodes/DATA-SCIENCE-MASTERS/blob/main/16_FEB_ASS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Q1. What is a database? Differentiate between SQL and NoSQL databases.
A database is information that is set up for easy access, management and updating. Databases are used for storing, maintaining and accessing any sort of data. They collect information on people, places or things. That information is gathered in one place so that it can be observed and analyzed. Databases can be thought of as an organized collection of information.

--------------------------------------------------------------------------------

* DIFFERNECE BETWEEN SQL AND NO-SQL

|SQL | NO-SQL|
|-|-|
|RELATIONAL DATABASE MANAGEMENT SYSTEM (RDBMS)|Non-relational or distributed database system.|
|These databases have fixed or static or predefined schema|They have dynamic schema|
|These databases are not suited for hierarchical data storage.|These databases are best suited for hierarchical data storage.| 
|These databases are best suited for complex queries|These databases are not so good for complex queries|
|Vertically Scalable|Horizontally scalable|
|Follows ACID property|Follows CAP(consistency, availability, partition tolerance)|
|Examples: MySQL, PostgreSQL, Oracle, MS-SQL Server, etc|	Examples: MongoDB, GraphQL, HBase, Neo4j, Cassandra, etc|

### Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.
 It is a language for describing data and its relationships in a database. You can generate DDL in a script for database objects to: Keep a snapshot of the database structure. Set up a test system where the database acts like the production system but contains no data.

 -------------------------------------------------------------------------------
 
 * CREATE : create table in database
```
CREATE TABLE Student (
    StudendId int,
    LastName varchar(255),
    FirstName varchar(255),
    Address varchar(255),
    Mark int
);
```
 * DROP : delete a particular table
```
DROP TABLE Student;
```
 * ALTER : makes changes in the structure of the table.
```
ALTER TABLE Student
ADD Total int;
```
 * TRUNCATE : empties a table completely. 
```
TRUNCATE TABLE  Student;
```

### Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.
The data manipulation language statements are used to retrieve, add, delete, and modify the data that is stored in the objects of database. The keywords or statements that are associated with the data manipulation language are: SELECT INSERT, UPDATE and DELETE. These are the primary statements of data manipulation language (DML) and are used widely.

*   INSERT :  insert a new row in the database that is adding data to a table.
```
INSERT INTO Student (StudendId, FirstName, LastName)
VALUES (12345, "Sri", "Durga");
```
*   UPDATE : used to update the data or row in the table.
```
UPDATE Student
SET FirstName = "Navin" , LastName = "Kumar"
WHERE StudentId=12345;
```
*   DELETE : used to delete a row from the table in the database.
```
DELETE FROM Student WHERE StudentId=12345;
```

### Q4. What is DQL? Explain SELECT with an example.
DQL or data query language is to perform the query on the data inside the schema or object (ie table, index, view, function, etc). With the help of a DQL query, we can get the data from the database to perform actions or operations like analyzing the data. 

* SELECT : SQL SELECT a query on a table or tables to view the temporary table output from the database.
```
Select * from Student;
```

### Q5. Explain Primary Key and Foreign Key.
* PRIMARY KEY : A primary key is a column or a set of columns in a table whose values uniquely identify a row in the table. A relational database is designed to enforce the uniqueness of primary keys by allowing only one row with a given primary key value in a table.

* FOREIGN KEY : A foreign key is a column or a set of columns in a table whose values correspond to the values of the primary key in another table. In order to add a row with a given foreign key value, there must exist a row in the related table with the same primary key value.

### Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.


```
import mysql.connector
# import mysql.connector
#create user 'user'@'%' identified by 'password'
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("SHOW DATABASES")
for x in mycursor:
  print(x)
```
* CURSOR() : The MySQLCursor of mysql-connector-python (and similar libraries) is used to execute statements to communicate with the MySQL database.
Using the methods of it you can execute SQL statements, fetch data from the result sets, call procedures.

* EXCUTE() : This method executes the given database operation (query or command). The parameters found in the tuple or dictionary params are bound to the variables in the operation. Specify variables using %s or %(name)s parameter style (that is, using format or pyformat style). execute() returns an iterator if multi is True.

### Q7. Give the order of execution of SQL clauses in an SQL query.
1. FROM/JOIN: The FROM and/or JOIN clauses are executed first to determine the data of interest.

2. WHERE: The WHERE clause is executed to filter out records that do not meet the constraints.

3. GROUP BY: The GROUP BY clause is executed to group the data based on the values in one or more columns.

4. HAVING: The HAVING clause is executed to remove the created grouped records that donâ€™t meet the constraints.

5. SELECT: The SELECT clause is executed to derive all desired columns and expressions.

6. ORDER BY: The ORDER BY clause is executed to sort the derived values in ascending or descending order.