<a href="https://colab.research.google.com/github/tanishqacodes/DATA-SCIENCE-MASTERS/blob/main/24_FEB_ASS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Q1. List any five functions of the pandas library with execution.

In [ ]:
from google.colab import files
 
 
uploaded = files.upload()

Saving car data.csv to car data.csv

In [ ]:
#read_csv() - Reads a comma-separated values (CSV) file into a pandas DataFrame.
import pandas as pd
df = pd.read_csv('car data.csv')
# head() - gives output of first 5 enteries by default
print(df.head())

  Car_Name  Year  Selling_Price  Present_Price  Kms_Driven Fuel_Type  \
0     ritz  2014           3.35           5.59       27000    Petrol
1      sx4  2013           4.75           9.54       43000    Diesel
2     ciaz  2017           7.25           9.85        6900    Petrol
3  wagon r  2011           2.85           4.15        5200    Petrol
4    swift  2014           4.60           6.87       42450    Diesel

  Seller_Type Transmission  Owner
0      Dealer       Manual      0
1      Dealer       Manual      0
2      Dealer       Manual      0
3      Dealer       Manual      0
4      Dealer       Manual      0

In [ ]:
#drecribes the functionality of the numeric data
df.describe()

              Year  Selling_Price  Present_Price     Kms_Driven       Owner
count   301.000000     301.000000     301.000000     301.000000  301.000000
mean   2013.627907       4.661296       7.628472   36947.205980    0.043189
std       2.891554       5.082812       8.644115   38886.883882    0.247915
min    2003.000000       0.100000       0.320000     500.000000    0.000000
25%    2012.000000       0.900000       1.200000   15000.000000    0.000000
50%    2014.000000       3.600000       6.400000   32000.000000    0.000000
75%    2016.000000       6.000000       9.900000   48767.000000    0.000000
max    2018.000000      35.000000      92.600000  500000.000000    3.000000

In [ ]:
# defines the memory usage of each and every columns
df.memory_usage(deep=True)

Index              128
Car_Name         20124
Year              2408
Selling_Price     2408
Present_Price     2408
Kms_Driven        2408
Fuel_Type        18957
Seller_Type      19387
Transmission     19083
Owner             2408
dtype: int64

In [ ]:
# stype() is used to cast a Python object to a particular data type. It can be a very helpful function in case your data is not stored in the correct format (data type). For instance, if floating point numbers have somehow been misinterpreted by Python as strings, you can convert them back to floating point numbers with astype(). Or if you want to convert an object datatype to category, you can use astype().

df['Car_Name'] = df.Car_Name.astype('category')

df.dtypes

Car_Name         category
Year                int64
Selling_Price     float64
Present_Price     float64
Kms_Driven          int64
Fuel_Type          object
Seller_Type        object
Transmission       object
Owner               int64
dtype: object

### Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [ ]:
import pandas as pd

def reindex_df(df):
    new_index = range(1, 2 * len(df), 2)
    df = df.set_index(pd.Index(new_index))
    return df

df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]})
df = reindex_df(df)
print(df)

   A  B  C
1  1  4  7
3  2  5  8
5  3  6  9

### Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The function should print the sum to the console.

For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should
calculate and print the sum of the first three values, which is 60.

In [ ]:
def sum(df):
  firstThree = df['values'].iloc[:3]
  total = firstThree.sum()
  print("SUM OF FIRST THREE VALUES ",total)

df = pd.DataFrame({'values' : [10,20,30,40,50]})
sum(df)

SUM OF FIRST THREE VALUES  60

### Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column 'Word_Count' that contains the number of words in each row of the 'Text' column.

In [ ]:
import pandas as pd

def add_word_count(df):
    df['Word_Count'] = df['Text'].apply(lambda x: len(x.split()))
    return df

df = pd.DataFrame({'Text': ['My name is tanishqa', 'data science masters', 'pw skills']})
df = add_word_count(df)
print(df)

                   Text  Word_Count
0   My name is tanishqa           4
1  data science masters           3
2             pw skills           2

### Q5. How are DataFrame.size() and DataFrame.shape() different?
Size and shape of a dataframe in pandas python: Size of a dataframe is the number of fields in the dataframe which is nothing but number of rows * number of columns. Shape of a dataframe gets the number of rows and number of columns of the dataframe.

### Q6. Which function of pandas do we use to read an excel file?
read_excel()

### Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email addresses in the format 'username@domain.com'. Write a Python function that creates a new column 'Username' in df that contains only the username part of each email address. The username is the part of the email address that appears before the '@' symbol. 

For example, if the email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your function should extract the username from each email address and store it in the new 'Username' column.

In [5]:
import pandas as pd

def extract_username(df):
    username_and_domain = df['Email'].str.split('@')
    df['Username'] = username_and_domain.str[0]
    return df

df = pd.DataFrame({'Email': ['john.doe@example.com', 'tanya@example.com', 'tanishqa@example.com']})
df = extract_username(df)
df

                  Email  Username
0  john.doe@example.com  john.doe
1     tanya@example.com     tanya
2  tanishqa@example.com  tanishqa

### Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The function should return a new DataFrame that contains only the selected rows.

In [6]:
import pandas as pd

def select_rows(df):
    selected_rows = df[(df['A'] > 5) & (df['B'] < 10)]
    return selected_rows

df = pd.DataFrame({'A': [3, 8, 6, 2, 9], 'B': [5, 2, 9, 3, 1], 'C': [1, 7, 4, 5, 2]})
rows = select_rows(df)
df

   A  B  C
0  3  5  1
1  8  2  7
2  6  9  4
3  2  3  5
4  9  1  2

### Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean, median, and standard deviation of the values in the 'Values' column.

In [16]:
import pandas as pd

def calculate_stats(df):
    mean = df['Values'].mean()
    median = df['Values'].median()
    std = df['Values'].std()
    
    print("mean : ",mean)
    print("median : ",median)
    print("std : ",std)

df = pd.DataFrame({'Values' : [10,20,30,40,50]})
calculate_stats(df)
df

mean :  30.0
median :  30.0
std :  15.811388300841896

   Values
0      10
1      20
2      30
3      40
4      50

### Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days for each row in the DataFrame. The moving average should be calculated using a window of size 7 and should include the current day.

In [13]:
import pandas as pd

def add_moving_average(df):
    ma = df['Sales'].rolling(window=7, min_periods=1).mean()
    df['MovingAverage'] = ma
    return df

df = pd.DataFrame({'Sales' :[12,21,34,32,34],'Date':['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05']})
add_moving_average(df)
df

   Sales        Date  MovingAverage
0     12  2023-01-01      12.000000
1     21  2023-01-02      16.500000
2     34  2023-01-03      22.333333
3     32  2023-01-04      24.750000
4     34  2023-01-05      26.600000

### Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g. Monday, Tuesday) corresponding to each date in the 'Date' column.

In [11]:
import pandas as pd
from datetime import datetime
import calendar

def add_weekday_column(df):
    df['Date'] = pd.to_datetime(df['Date'])
    df['Weekday'] = df['Date'].dt.strftime('%A')
    return df

df = pd.DataFrame({'Date': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05']})
df = add_weekday_column(df)
print(df)

        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

### Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [7]:
import pandas as pd

def select_rows(df):
    df['Date'] = pd.to_datetime(df['Date'])
    selected_rows = df[(df['Date'] >= '2023-01-01') & (df['Date'] <= '2023-01-31')]
    return selected_rows

df = pd.DataFrame({'Date': ['2023-01-05', '2023-01-15', '2023-02-01', '2023-01-25'], 'Value': [1, 2, 3, 4]})
rows = select_rows(df)
print(rows)

        Date  Value
0 2023-01-05      1
1 2023-01-15      2
3 2023-01-25      4

### Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to be imported?
pandas