<a href="https://colab.research.google.com/github/tanishqacodes/DATA-SCIENCE-MASTERS/blob/main/22_FEB_ASS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data = np.array([4,8,15,16,23,42])
series = pd.Series(data)

In [ ]:
series

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

### Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [ ]:
list1 = list(range(1,11))

In [ ]:
series2 = pd.Series(list1)

In [ ]:
series2

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

### Q3. Create a Pandas DataFrame that contains the following data:
* Name     Age    Gender
* Alice    25     female
* Bob      30     male
* Claire   27     female
* Then, print the DataFrame..

In [ ]:
data = {
    "Name" : ['alice','bob','claire'],
    "Age" : [25,30,27],
    "Gender" : ["female","male","female"]
}

In [ ]:
df = pd.DataFrame(data)

In [ ]:
df

     Name  Age  Gender
0   alice   25  female
1     bob   30    male
2  claire   27  female

### Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

* A Pandas DataFrame is a 2 dimensional data structure, like a 2 dimensional array, or a table with rows and columns.

|Pandas Series | Pandas DataFrame|
|-|-|
|One-dimensional|Two-dimensional|
|Homogenous – Series elements must be of the same data type.|Heterogenous – DataFrame elements can have different data types.|
|Size-immutable – Once created, the size of a Series object cannot be changed|Size-mutable – Elements can be dropped or added in an existing DataFrame.|

In [ ]:
data = {'Mon': 22, 'Tues': 23, 'Wed': 23, 'Thurs': 24, 'Fri': 23, 'Sat': 22, 'Sun': 21}
series = pd.Series(data=data)
print(series)

Mon      22
Tues     23
Wed      23
Thurs    24
Fri      23
Sat      22
Sun      21
dtype: int64

In [ ]:
data = {
    "Class 1": [22, 33, 38],
    "Class 2": [45, 28, 36], 
    "Class 3": [32, 41, 47]
}
df = pd.DataFrame(data=data, index=['math', 'science', 'english'])

In [ ]:
df

         Class 1  Class 2  Class 3
math          22       45       32
science       33       28       41
english       38       36       47

### Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?
* Read data
* Head and Tail
* Shape, Size and Info
* Describe
* Value Counts

In [25]:
from google.colab import files

In [26]:
uploaded = files.upload()

Saving car data.csv to car data.csv

In [27]:
df = pd.read_csv('car data.csv')

In [29]:
df.head(4)

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0

In [30]:
df.tail(4)

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
297,brio,2015,4.00,5.9,60000,Petrol,Dealer,Manual,0
298,city,2009,3.35,11.0,87934,Petrol,Dealer,Manual,0
299,city,2017,11.50,12.5,9000,Diesel,Dealer,Manual,0
300,brio,2016,5.30,5.9,5464,Petrol,Dealer,Manual,0

In [32]:
df.shape

(301, 9)

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Car_Name       301 non-null    object
 1   Year           301 non-null    int64
 2   Selling_Price  301 non-null    float64
 3   Present_Price  301 non-null    float64
 4   Kms_Driven     301 non-null    int64
 5   Fuel_Type      301 non-null    object
 6   Seller_Type    301 non-null    object
 7   Transmission   301 non-null    object
 8   Owner          301 non-null    int64
dtypes: float64(2), int64(3), object(4)
memory usage: 21.3+ KB

In [34]:
df.describe()

              Year  Selling_Price  Present_Price     Kms_Driven       Owner
count   301.000000     301.000000     301.000000     301.000000  301.000000
mean   2013.627907       4.661296       7.628472   36947.205980    0.043189
std       2.891554       5.082812       8.644115   38886.883882    0.247915
min    2003.000000       0.100000       0.320000     500.000000    0.000000
25%    2012.000000       0.900000       1.200000   15000.000000    0.000000
50%    2014.000000       3.600000       6.400000   32000.000000    0.000000
75%    2016.000000       6.000000       9.900000   48767.000000    0.000000
max    2018.000000      35.000000      92.600000  500000.000000    3.000000

In [36]:
df.Owner.value_counts()

0    290
1     10
3      1
Name: Owner, dtype: int64

### Q6. Which of the following is mutable in nature Series, DataFrame, Panel?
All the data structures are value and size mutable except series is size immutable.

### Q7. Create a DataFrame using multiple Series. Explain with an example.

In [37]:
courses = pd.Series(["Spark","PySpark","Hadoop"], name='courses')
fees = pd.Series([22000,25000,23000], name='fees')
discount  = pd.Series([1000,2300,1000],name='discount')

df=pd.concat([courses,fees,discount],axis=1)
print(df)

   courses   fees  discount
0    Spark  22000      1000
1  PySpark  25000      2300
2   Hadoop  23000      1000