# Assignment : 02

1.

In [ ]:
p = float(input('Enter total percetage : '))
print('Grade : ', end='')
if p>90 :
    print('A')
elif p>80 and p<=90 :
    print('B')
elif p>=60 and p<=80 :
    print('C')
else : print('D')

False

2.

In [ ]:
cost = float(input('Enter total cost (in Rs) : '))
print('Tex : ', end='')
if cost>100000 :
  print('15%')
elif cost > 50000 and cost <= 100000 :
  print('10%')
else : print('5%')

Enter total cost (in Rs) : 160000
Tex : 15%

3.

In [ ]:
city = input('Enter city name : ')
print('Monument : ', end='')
if city=='Delhi':
  print('Red Fort')
elif city=='Agra':
  print('Taj Mahal')
elif city=='Jaipur':
  print('Jal Mahal')

Enter city name : Agra
Monument : Taj Mahal

4.

In [ ]:
num = int(input('Enter number : '))
print('Count is : ', end='')
count = 0;
while num>10:
  count+=1;
  num/=3;
print(count)

Enter number : 4
Count is : 0

5.

A `while` loop in Python is used to repeatedly execute a block of code as long as a certain condition is met. The structure of a `while` loop in Python is as follows:
```
while condition:
    # code to be executed
```

  The code inside the loop will be executed as long as the `condition` is true. Once the condition becomes false, the loop will stop and the program will continue to execute the next line of code after the loop.

  Here is an example that prints the numbers from 1 to 10 using a while loop:

  ```
  count = 1
  while count <= 10:
      print(count)
      count += 1
  ```
  In this example, the `count` variable is used as the condition for the while loop. The loop will continue to execute as long as `count` is less than or equal to 10. At the end of each iteration, the `count` is incremented by 1 using `count += 1`. Once `count` becomes 11, the loop will stop and the program will continue to execute the next line of code after the loop.

  It is important to note that if the condition for the while loop is never met, the loop will run forever, resulting in an infinite loop. To prevent this, make sure that the condition will eventually become false.

6.

Here is how you can use nested while loops to print three different patterns:

* Triangle pattern:

In [ ]:
# _for e.g,
i = 1
while i <= 5:
    j = 1
    while j <= i:
        print("*", end="")
        j += 1
    print("")
    i += 1

*
**
***
****
*****

* Reverse Triangle pattern:

In [ ]:
# _for e.g,
i = 5
while i >= 1:
    j = 1
    while j <= i:
        print("*", end="")
        j += 1
    print("")
    i -= 1

*****
****
***
**
*

* Diamond pattern:

In [ ]:
# _for e.g,
i = 1
while i <= 5:
    j = 1
    while j <= 5 - i:
        print(" ", end="")
        j += 1
    k = 1
    while k <= 2 * i - 1:
        print("*", end="")
        k += 1
    print("")
    i += 1

i = 4
while i >= 1:
    j = 1
    while j <= 5 - i:
        print(" ", end="")
        j += 1
    k = 1
    while k <= 2 * i - 1:
        print("*", end="")
        k += 1
    print("")
    i -= 1

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

7. > **Note :**  There is Que.07 & Que.08 both are same.

In [ ]:
# _The 7th and 8th both of Questions are same.
i = 10
while i > 0:
    print(i)
    i = i - 1

10
9
8
7
6
5
4
3
2
1

8. > **Note :**  There is Que.07 & Que.08 both are same.

In [1]:
# _The 7th and 8th both of Questions are same.
i = 10
while i > 0:
    print(i)
    i = i - 1

10
9
8
7
6
5
4
3
2
1